<h1>The Twits that have been uploaded to our database thus far:</h1>

<% @twits.each do |twit| %>
<p>
  <%= twit.body %>
</p>
<% end %>










<p>
  Back to your page? <%= link_to "Personal Page", user_path(current_user) %>
</p>
