<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to twitnot.com, <%= @user.name %></h1>
    <p>
        You have successfully signed up to recieve endless email spam from twitnot.com.
      <br>
    </p>
    <p>
      To login to the site return to where you signed up.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <%= yield %>
  </body>

</html>
